@media (max-width: 1100px) {
  .cssWidth {
    flex-direction: column;
  }
}
@media (max-width: 1100px) {
  .gapO {
    gap: 0;
  }
}

@media (max-width: 768px) {
  .cssWidth {
    flex-direction: row;
  }
}
